.searchBox input {
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--black);
  margin-bottom: 1rem;
  width: 30rem;
  font-size: 1.1rem;
  padding-inline-end: 2rem;
}

.searchBox button {
  background: transparent;
  border: none;
  transform: translateX(-100%);
}

.searchBox button:active {
  color: var(--green-dark);
}
